
 <div style="overflow:hidden">  
	<header mat-dialog-title>
        <label style="font-size: 20px;">{{title}}</label>
    </header>

	<div fxLayoutAlign="center center">
		<div class="p-1 " fxLayoutAlign="center center">
			<video #video class="vid"  autoplay></video>
		</div>
		<div class="pb-2 btndiv" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
			<button mat-raised-button  color= "primary" class="filterButtonClass Savebtn" (click)="capture()" style="margin-top:1px;width:150px"><mat-icon>photo_camera</mat-icon>Capture</button>
			<button mat-raised-button  color= "primary" class="filterButtonClass Savebtn" (click)="saveImge()" style="margin-top:1px;width:150px"><mat-icon>save</mat-icon>Save</button>
			<button mat-raised-button class="cancelButton filterButtonClass"  (click)="dialogCancel()" style="margin-top:1px;"><mat-icon>cancel</mat-icon> Close</button>
		</div>
		<div class="p-1">
			<canvas #canvas class="vid"></canvas>
		</div>
	</div>
</div>
